services:
    nginx:
        container_name: nginx
        build:
            context: ./
            dockerfile: ./docker/nginx/Dockerfile
        ports:
            - "${NGINX_PORT:-80}:80"
        volumes:
            - ./backend:/var/www
        links:
            - php
        restart: unless-stopped

    mysql:
        container_name: mysql
        image: mysql:8.0
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_USER=user
            - MYSQL_PASSWORD=user
            - MYSQL_DATABASE=app
        volumes:
            - mysql_data:/var/lib/mysql  # Специальный volume для данных
        ports:
            - "${MYSQL_PORT:-3306}:3306"
        restart: unless-stopped

    llm:
        container_name: llm
        env_file:
            - path: .env
              required: true
        build:
          context: ./
          dockerfile: ./docker/llm/Dockerfile
          args:
            - LLM_URL=${LLM_URL:-false} # Doesn't download LLM by default
        restart: unless-stopped
        links:
            - mysql

    php:
        container_name: php
        build:
            context: ./
            dockerfile: ./docker/php/Dockerfile
            args:
                WWWUSER: ${USER}
        volumes:
            - ./backend:/var/www/
        links:
            - mysql
            - llm
        user: ${USER}
        restart: unless-stopped

    node:
        container_name: node
        build:
            context: ./
            dockerfile: ./docker/node/Dockerfile
        ports:
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        volumes:
            -  ./backend:/var/www
        tty: true
        restart: unless-stopped

    redis:
        container_name: redis
        image: redis
        ports:
            - "${REDIS_PORT:-6379}:6379"

volumes:
    mysql_data:
