services:
    nginx:
        container_name: nginx
        build:
            context: ./
            dockerfile: ./docker/nginx.docker
        ports:
            - "${NGINX_PORT:-80}:80"
        volumes:
            - ./backend:/var/www
        links:
            - php-fpm
        restart: unless-stopped

    mysql:
        container_name: mysql
        image: mysql:8.0
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_USER=user
            - MYSQL_PASSWORD=user
            - MYSQL_DATABASE=app
        volumes:
            - mysql_data:/var/lib/mysql  # Специальный volume для данных
        ports:
            - "${MYSQL_PORT:-3306}:3306"
        restart: unless-stopped

    llm:
        container_name: llm
        build:
          context: ./
          dockerfile: ./docker/llm.docker
        restart: unless-stopped
        links:
            - mysql

    php-cli:
        container_name: php
        build:
            context: ./
            dockerfile: ./docker/php.docker
            args:
                WWWUSER: ${USER}
        volumes:
            - ./backend:/var/www/
        user: ${USER}
        ports:
            - "9001:9001"
        tty: true
        restart: unless-stopped

    php-fpm:
        container_name: php-fpm
        build:
            context: ./
            dockerfile: ./docker/php-fpm.docker
            args:
                WWWUSER: ${USER}
        volumes:
            - ./backend:/var/www/
        links:
            - mysql
            - llm
        user: ${USER}
        restart: unless-stopped

    npm:
        container_name: npm
        build:
            context: ./
            dockerfile: ./docker/npm.docker
        ports:
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        volumes:
            -  ./backend:/var/www
        tty: true
        restart: unless-stopped

    redis:
        container_name: redis
        image: redis
        ports:
            - "${REDIS_PORT:-6379}:6379"

volumes:
    mysql_data:
