* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: #ffffff;
    margin-top: 77px;
}

#header {
    width: 100%;
    position: fixed;
    background: #ffffff;
    z-index: 9;
    top: 0;
    left: 0;
    border-bottom: 1px solid #EDEFF4;
}
#header .center {
    padding: 5px 10px;
    display: flex;
    align-self: center;
}
#header .center .logo {
    flex: 1;
}
#header .center .logo img {
    width: 50px;
}
#header .center .top-nav-bar {
    flex: 5;
    align-self: center;
}
#header .center .top-nav-bar ul {
    list-style: none;
    display: flex;
}
#header .center .top-nav-bar ul li {
    color: #282e3e;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
}
#header .center .top-nav-bar ul li:hover {
    color: black;
}
#header .center .profile-block {
    flex: 2;
    display: flex;
    align-self: center;
    padding-right: 10px;
    justify-content: right;
    cursor: pointer;
}
#header .center .profile-block .user .avatar img {
    width: 40px;
    margin: 0 auto;
}
#header .center .profile-block .user .description {
    padding-top: 5px;
    font-size: 14px;
    color: #282e3e;
}

.styled-button {
    color: white;
    padding: 7px 14px;
    border-radius: 3px;
    font-size: 14px;
    background: #423ED8;
}
.styled-button:hover {
    background: #302cd4;
}

main#root {
    height: 100vh;
}

main#root section#content {
    max-width: 1150px;
    color: #282e3e;
    margin: 0 auto;
    padding: 30px;
}

.disable-vh {
    height: initial !important;
}

.background-soft-purple {
    background: #f7fafc;
}

.libraries-row {
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.libraries-row .library-block {
    padding: 15px;
    margin: 10px 20px 10px 0px;
    width: 320px;
    background: #fff;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    cursor: pointer;
    transition: all 200ms;
}
.libraries-row .library-block .library-title {
    font-size: 18px;
    font-weight: bold;
    color: #282e3e;
}
.libraries-row .library-block .library-count-items {
    margin-top: 15px;
}
.libraries-row .library-block .library-count-items p {
    font-size: 14px;
    color: #737c95;
    font-weight: 500;
}
.libraries-row .library-block:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.heading {
    margin: 0px 20px 0px 0px;
    font-size: 24px;
    font-weight: bold;
}

.list-action {
    display: flex;
    width: auto;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white !important;
}
.list-action .list-block {
    margin: 10px 20px 10px 0px;
    width: 320px;
    height: 140px;
    color: white;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: all 400ms;
}
.list-action .list-block .content {
    padding: 15px;
}
.list-action .list-block .content span {
    font-weight: bold;
    color: white;
    font-size: 14px;
}
.list-action .list-block .action {
    display: flex;
    position: absolute;
    visibility: hidden;
    width: inherit;
    height: 50px;
    align-items: center;
    margin-left: -1px;
    margin-top: 70px;
    padding: 5px 10px 5px 10px;
    padding-left: 20px;
    border-radius: 0px 0px 15px 15px;
    background: rgba(0, 0, 0, 0.5);
}
.list-action .list-block .action a {
    padding-right: 15px;
}
.list-action .list-block .action a img {
    width: 20px;
}
.list-action .list-block:hover .action {
    visibility: visible;
    margin-top: 35px;
}
.list-action .list-block:hover {
    transform: scale(1.02);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.slider {
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
    height: 650px;
    display: flex;
    justify-content: stretch;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
}

.slide {
    min-width: 800px;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}

.card {
    width: 99%;
    height: 99%;
    border-radius: 40px;
    margin: 0 auto;
    perspective: 1000px;
}
.card .word, .card .translation {
    width: inherit;
    height: inherit;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    font-size: 33px;
    font-weight: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}
.card .translation {
    transform: rotateX(-180deg);
}
.card:hover:hover .word {
    transform: rotateX(-180deg);
}
.card:hover:hover .translation {
    transform: rotateX(-360deg);
}

.panel {
    width: 800px;
    margin: 20px auto;
    position: relative;
}
.panel .controls {
    z-index: 9;
    background: #fafafa;
    justify-content: center;
    width: inherit;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #EDEFF4;
    padding-bottom: 30px;
}
.panel .add-button {
    padding: 7px 12px;
    background: #423ED8;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
}

.left, .right {
    width: 40px;
    height: 40px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 400ms;
}

.left:hover, .right:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.form-div {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: #ffffff;
    margin-bottom: 40px;
    padding: 30px 20px;
    font-size: 18px;
    cursor: pointer;
}

.form-div .word {
    margin-bottom: 190px;
    font-size: 25px;
    font-weight: bold;
    color: #282e3e;
}

.form-div .label-input {
    font-size: 15px;
    margin-bottom: 10px;
}

.form-div input {
    width: 100%;
    padding: 9px 12px;
    border-radius: 2px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    letter-spacing: 0.4px;
    outline: none;
    background: #f1ecec;
    border-bottom: 3px solid #423ED8;
}
