* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
  margin-top: 77px;
}

#header {
  width: 100%;
  position: fixed;
  background: #ffffff;
  z-index: 9;
  top: 0;
  left: 0;
  border-bottom: 1px solid #EDEFF4;
}
#header .center {
  padding: 5px 10px;
  display: flex;
  align-self: center;
}
#header .center .logo {
  flex: 1;
}
#header .center .logo img {
  width: 50px;
}
#header .center .top-nav-bar {
  flex: 5;
  align-self: center;
}
#header .center .top-nav-bar ul {
  list-style: none;
  display: flex;
}
#header .center .top-nav-bar ul li {
  color: #282e3e;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
}
#header .center .top-nav-bar ul li:hover {
  color: black;
}
#header .center .profile-block {
  flex: 2;
  display: flex;
  align-self: center;
  padding-right: 10px;
  justify-content: right;
  cursor: pointer;
}
#header .center .profile-block .user .avatar img {
  width: 40px;
  margin: 0 auto;
}
#header .center .profile-block .user .description {
  padding-top: 5px;
  font-size: 14px;
  color: #282e3e;
}

.styled-button {
  color: white;
  padding: 7px 14px;
  border-radius: 3px;
  font-size: 14px;
  background: #423ED8;
}
.styled-button:hover {
  background: #302cd4;
}

main#root {
  height: 100vh;
}
main#root section#content {
  max-width: 1150px;
  color: #282e3e;
  margin: 0 auto;
  padding: 30px;
}

.disable-vh {
  height: initial !important;
}

.background-soft-purple {
  background: #f7fafc;
}

.libraries-row {
  margin-top: 20px;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.libraries-row .library-block {
  padding: 15px;
  margin: 10px 20px 10px 0px;
  width: 320px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  cursor: pointer;
  transition: all 200ms;
}
.libraries-row .library-block .library-title {
  font-size: 18px;
  font-weight: bold;
  color: #282e3e;
}
.libraries-row .library-block .library-count-items {
  margin-top: 15px;
}
.libraries-row .library-block .library-count-items p {
  font-size: 14px;
  color: #737c95;
  font-weight: 500;
}
.libraries-row .library-block:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.heading {
  margin: 0px 20px 0px 0px;
  font-size: 24px;
  font-weight: bold;
}

.list-action {
  display: flex;
  width: auto;
  margin-top: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: white !important;
}
.list-action .list-block {
  margin: 10px 20px 10px 0px;
  width: 320px;
  height: 140px;
  color: white;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: all 400ms;
}
.list-action .list-block .content {
  padding: 15px;
}
.list-action .list-block .content span {
  font-weight: bold;
  color: white;
  font-size: 14px;
}
.list-action .list-block .action {
  display: flex;
  position: absolute;
  visibility: hidden;
  width: inherit;
  height: 50px;
  align-items: center;
  margin-left: -1px;
  margin-top: 70px;
  padding: 5px 10px 5px 10px;
  padding-left: 20px;
  border-radius: 0px 0px 15px 15px;
  background: rgba(0, 0, 0, 0.5);
}
.list-action .list-block .action a {
  padding-right: 15px;
}
.list-action .list-block .action a img {
  width: 20px;
}
.list-action .list-block:hover .action {
  visibility: visible;
  margin-top: 35px;
}
.list-action .list-block:hover {
  transform: scale(1.02);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.slider {
  width: 800px;
  overflow: hidden;
  margin: 0 auto;
  height: 650px;
  display: flex;
  justify-content: stretch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;
}

.slide {
  min-width: 800px;
  display: flex;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
}

.card {
  width: 99%;
  height: 99%;
  border-radius: 40px;
  margin: 0 auto;
  perspective: 1000px;
}
.card .word, .card .translation {
    width: inherit;
    height: inherit;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    font-size: 33px;
    font-weight: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 600ms;
    cursor: pointer;
}
.card .translation {
    transform: rotateX(-180deg);
}

.is-flip .word {
    transform: rotateX(-180deg);
}
.is-flip .translation {
    transform: rotateX(-360deg);
}

.panel {
    width: 800px;
    margin: 20px auto;
    position: relative;
}
.panel .controls {
  z-index: 9;
  background: #fafafa;
  justify-content: center;
  width: inherit;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #EDEFF4;
  padding-bottom: 30px;
}
.panel .add-button {
  padding: 7px 12px;
  background: #423ed8;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  border-radius: 4px;
  color: white;
}

.left, .right {
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 400ms;
}
.left:hover, .right:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.form-div {
  display: block;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  margin-bottom: 40px;
  padding: 30px 20px;
  font-size: 18px;
  cursor: pointer;
}
.form-div .word {
  margin-bottom: 190px;
  font-size: 25px;
  font-weight: bold;
  color: #282e3e;
}
.form-div .label-input {
  font-size: 15px;
  margin-bottom: 10px;
}
.form-div input {
  width: 100%;
  padding: 9px 12px;
  border-radius: 2px;
  font-weight: bold;
  color: black;
  font-size: 14px;
  letter-spacing: 0.4px;
  outline: none;
  background: #f1ecec;
  border-bottom: 3px solid #423ed8;
}

.block-statistic {
  background: #ffffff;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.block-statistic h3 {
  font-size: 22px;
  display: block;
  font-weight: bold;
  color: #282e3e;
}
.block-statistic .result {
  margin-top: 60px;
}
.block-statistic .result p {
  font-weight: bold;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.7);
}
.block-statistic .result p.count-words span {
  color: #423ed8;
}
.block-statistic .result p.count-wrong span {
  color: red;
}
.block-statistic .result p.count-right span {
  color: green;
}
.block-statistic .percent {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #282e3e;
}
.block-statistic .progress-bar {
  width: inherit;
  height: 30px;
  background: #cdd9e7;
  border-radius: 5px;
  cursor: pointer;
  transition: all 800ms;
}
.block-statistic .progress-bar .loaded {
  width: 1%;
  background: #423ed8;
  transition: all 3240ms;
  height: inherit;
  border-radius: 5px;
}
.block-statistic .progress-bar .loaded:hover {
  box-shadow: 0 0 3px rgba(66, 62, 216, 0.4);
}

.edit-library {
  width: inherit;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px dashed #e2dcdc;
}
.edit-library .title-input-library {
  width: inherit;
  margin-bottom: 20px;
}
.edit-library .title-input-library input {
  outline: none;
  width: 100%;
  padding: 9px 10px;
  border-bottom: 3px solid transparent;
  background: #f6f7fb;
  transition: all 400ms;
}
.edit-library .title-input-library input:focus {
  border-bottom-color: #423ed8;
}
.edit-library .description-input-library {
  width: inherit;
  margin-bottom: 5px;
}
.edit-library .description-input-library textarea {
    width: 100%;
    padding: 9px 10px;
    background: #f6f7fb;
    outline: none;
    border-bottom: 3px solid transparent;
    min-height: 230px;
    max-height: 230px;
    transition: all 400ms;
}
.edit-library .description-input-library textarea:focus {
    border-bottom-color: #423ed8;
}
.edit-library button {
    background: #423ed8;
    color: white;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 9px 12px;
}

.panel-edit-library {
    padding: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.panel-edit-library button {
    background: #423ed8;
    color: white;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 9px 12px;
}
.panel-edit-library a {
    padding: 9px 12px;
    background: #423ed8;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.add-word-form, .edit-word-form {
    width: inherit;
    margin-top: 30px;
    padding-bottom: 10px;
}
.add-word-form h3, .edit-word-form h3 {
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: bold;
}
.add-word-form .block-add-word-button, .edit-word-form .block-add-word-button {
    background: #ffffff;
    width: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 400ms;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    height: 120px;
    display: flex;
    justify-content: center;
    border: 3px dashed #e2dcdc;
    align-items: center;
}
.add-word-form .block-add-word-button:hover, .edit-word-form .block-add-word-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}
.add-word-form .add-row-words, .add-word-form .edit-row-words, .edit-word-form .add-row-words, .edit-word-form .edit-row-words {
    margin-top: 30px;
    margin-bottom: 30px;
}
.add-word-form .add-row-words .word-block, .add-word-form .edit-row-words .word-block, .edit-word-form .add-row-words .word-block, .edit-word-form .edit-row-words .word-block {
    width: inherit;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 30px;
}
.add-word-form .add-row-words .word-block .definition-block input, .add-word-form .edit-row-words .word-block .definition-block input, .edit-word-form .add-row-words .word-block .definition-block input, .edit-word-form .edit-row-words .word-block .definition-block input {
    padding: 14px 20px;
    outline: none;
    width: 48%;
    cursor: pointer;
    background: #f6f7fb;
    border-bottom: 3px dashed #ccc;
    transition: all 400ms;
}
.add-word-form .add-row-words .word-block .definition-block input:nth-child(1), .add-word-form .edit-row-words .word-block .definition-block input:nth-child(1), .edit-word-form .add-row-words .word-block .definition-block input:nth-child(1), .edit-word-form .edit-row-words .word-block .definition-block input:nth-child(1) {
    margin-right: 30px;
}
.add-word-form .add-row-words .word-block .definition-block input:focus, .add-word-form .edit-row-words .word-block .definition-block input:focus, .edit-word-form .add-row-words .word-block .definition-block input:focus, .edit-word-form .edit-row-words .word-block .definition-block input:focus {
    border-bottom-color: #423ed8;
}
.add-word-form .add-row-words .word-block .definition-block p, .add-word-form .edit-row-words .word-block .definition-block p, .edit-word-form .add-row-words .word-block .definition-block p, .edit-word-form .edit-row-words .word-block .definition-block p {
    margin-top: 20px;
}
.add-word-form .add-row-words .word-block .definition-block p textarea, .add-word-form .edit-row-words .word-block .definition-block p textarea, .edit-word-form .add-row-words .word-block .definition-block p textarea, .edit-word-form .edit-row-words .word-block .definition-block p textarea {
    width: 100%;
    padding: 14px 20px;
    background: #f6f7fb;
    outline: none;
    min-height: 100px;
    max-height: 200px;
    border-bottom: 2px solid #ccc;
    transition: all 400ms;
}
.add-word-form .add-row-words .word-block .definition-block p textarea:focus, .add-word-form .edit-row-words .word-block .definition-block p textarea:focus, .edit-word-form .add-row-words .word-block .definition-block p textarea:focus, .edit-word-form .edit-row-words .word-block .definition-block p textarea:focus {
    border-bottom-color: #423ed8;
}
.add-word-form .add-row-words .word-block .word-panel, .add-word-form .edit-row-words .word-block .word-panel, .edit-word-form .add-row-words .word-block .word-panel, .edit-word-form .edit-row-words .word-block .word-panel {
    margin-top: 30px;
}
.add-word-form .add-row-words .word-block .word-panel a, .add-word-form .edit-row-words .word-block .word-panel a, .edit-word-form .add-row-words .word-block .word-panel a, .edit-word-form .edit-row-words .word-block .word-panel a {
    padding: 9px 13px;
    background: #423ed8;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.add-word-form .add-row-words .word-block .word-panel a#delete-word, .add-word-form .edit-row-words .word-block .word-panel a#delete-word, .edit-word-form .add-row-words .word-block .word-panel a#delete-word, .edit-word-form .edit-row-words .word-block .word-panel a#delete-word {
    background: #f0f03a !important;
    color: red;
}
.add-word-form .add-row-words .word-block .list-examples, .add-word-form .edit-row-words .word-block .list-examples, .edit-word-form .add-row-words .word-block .list-examples, .edit-word-form .edit-row-words .word-block .list-examples {
    visibility: hidden;
    height: 0;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-top: 30px;
}
.add-word-form .add-row-words .word-block .list-examples #add-example, .add-word-form .edit-row-words .word-block .list-examples #add-example, .edit-word-form .add-row-words .word-block .list-examples #add-example, .edit-word-form .edit-row-words .word-block .list-examples #add-example {
    background: #ff49a0;
    border-radius: 5px;
    width: inherit;
    font-size: 14px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 9px 14px;
    cursor: pointer;
}
.add-word-form .add-row-words .word-block .list-examples .example-block, .add-word-form .edit-row-words .word-block .list-examples .example-block, .edit-word-form .add-row-words .word-block .list-examples .example-block, .edit-word-form .edit-row-words .word-block .list-examples .example-block {
    width: inherit;
    margin-top: 20px;
}
.add-word-form .add-row-words .word-block .list-examples .example-block input, .add-word-form .edit-row-words .word-block .list-examples .example-block input, .edit-word-form .add-row-words .word-block .list-examples .example-block input, .edit-word-form .edit-row-words .word-block .list-examples .example-block input {
    background: #f6f7fb;
    border-bottom: 1px solid #EDEFF4;
    outline: none;
    padding: 9px 14px;
    width: 100%;
}
.add-word-form .add-row-words .word-block .list-examples.open, .add-word-form .edit-row-words .word-block .list-examples.open, .edit-word-form .add-row-words .word-block .list-examples.open, .edit-word-form .edit-row-words .word-block .list-examples.open {
    visibility: visible;
    height: auto;
}
.add-word-form .button-save, .edit-word-form .button-save {
    margin-top: 20px;
    margin-bottom: 120px;
}
.add-word-form .button-save button, .edit-word-form .button-save button {
    padding: 10px 20px;
    background: #423ed8;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}

#up-button {
    position: fixed;
    padding: 7px 17px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 22px;
    color: white;
    right: 20px;
    background: #423ed8;
    bottom: 20px;
}

.block-import {
    width: inherit;
    margin-top: 20px;
}
.block-import h3 {
    display: block;
    margin: 10px 0px;
}
.block-import textarea {
    width: 100%;
    min-height: 400px;
    max-height: 600px;
    padding: 10px;
    border: 1px solid #ccc;
}

#import-words {
    padding: 10px 20px;
    background: #423ed8;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}
