$text-color: #282e3e
$border-color: #EDEFF4

*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font-family: Roboto, sans-serif
    background: #ffffff
    margin-top: 77px

// Меню
#header
    width: 100%
    position: fixed
    background: #ffffff
    z-index: 9
    top: 0
    left: 0
    border-bottom: 1px solid #EDEFF4

    .center
        padding: 5px 10px
        display: flex
        align-self: center

        .logo
            flex: 1
            //background: #000

            img
                width: 50px

        .top-nav-bar
            flex: 5
            //background: #afb14c
            align-self: center

            ul
                list-style: none
                display: flex

                li
                    color: $text-color
                    margin-left: 20px
                    font-size: 15px
                    font-weight: 500

                    &:hover
                        color: black

        .profile-block
            flex: 2
            display: flex
            align-self: center
            padding-right: 10px
            justify-content: right
            cursor: pointer

            //background: #fcff32
            .user
                .avatar
                    img
                        width: 40px
                        margin: 0 auto

                .description
                    padding-top: 5px
                    font-size: 14px
                    color: $text-color


// Стилизированная кнопка в меню вверху
.styled-button
    color: white
    padding: 7px 14px
    border-radius: 3px
    font-size: 14px
    background: #423ED8

    &:hover
        background: #302cd4


// Главный блок
main#root
    height: 100vh

    section#content
        max-width: 1150px
        color: $text-color
        margin: 0 auto
        padding: 30px

// Применив этот класс меняем цвет #main
.background-soft-purple
    background: #f7fafc

///////////////////////// Главная страница вывода всех библиотек

// Вывод всех библиотек (на главной странице)
.libraries-row
    margin-top: 20px
    width: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start

    .library-block
        padding: 15px
        margin: 10px 20px 10px 0px
        width: 320px
        background: #fff
        height: 140px
        border-bottom: 1px solid rgba(0, 0, 0, .05)
        border-radius: 3px
        cursor: pointer
        transition: all 200ms

        .library-title
            font-size: 18px
            font-weight: bold
            color: $text-color

        .library-count-items
            margin-top: 15px

            p
                font-size: 14px
                color: #737c95
                font-weight: 500

        &:hover
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2)
            transform: scale(1.02)


// Большой заголовок
.heading
    margin: 0px 20px 0px 0px
    font-size: 24px
    font-weight: bold

////////////////////////// Страница показа библиотеки


//.block-with-section
//    width: 100%
//    margin-top: 70px
//    display: flex
//    border-bottom: 1px solid $border-color
//    a
//        padding: 7px 20px
//        font-size: 21px
//        color: rgba(0,0,0,.7)
//        &:hover
//            background: #eaf0f8
//            color: black
//
//    a.active-section
//        background: #eaf0f8


.list-action
    display: flex
    width: auto
    margin-top: 40px
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    color: white !important

    .list-block
        margin: 10px 20px 10px 0px
        width: 320px
        height: 140px
        color: white
        background-position: center
        background-size: cover
        border: 1px solid rgba(0, 0, 0, .5)
        border-radius: 15px
        cursor: pointer
        //filter: brightness(40%)
        transition: all 1s

        .content
            padding: 15px

            span
                font-weight: bold
                color: white
                font-size: 14px

        .action
            display: flex
            position: absolute
            visibility: hidden
            width: inherit
            height: 50px
            align-items: center
            margin-left: -1px
            margin-top: 70px
            padding: 5px 10px 5px 10px
            padding-left: 20px
            border-radius: 0px 0px 15px 15px
            background: rgba(0, 0, 0, .5)

            a
                padding-right: 15px

                img
                    width: 20px


        &:hover .action
            visibility: visible
            margin-top: 35px


